.button {
  display: flex;
  cursor: pointer;
  padding: 10px 8px;
}

.button a {
  text-decoration: none;
}

.iconContainer {
  margin-left: 5px;
}

.iconContainer, .iconContainer svg {
  width: 18px;
  height: 18px;
}

.button[data-version='primary'] {
  background: rgba(238, 238, 238, 0.4) !important;
  border: 1px solid #F3F3F3 !important;
  border-radius: 6px;
  backdrop-filter: blur(5.7px);
  -webkit-backdrop-filter: blur(5.7px);
}

.button[data-version='secondary'] {
  border: none;
  background: none;
}