

body {
  min-height: 100vh;
  overflow: hidden;
}

:root, a {
  color: #1D1D1D;
  text-decoration: none;
}

h1 {
  font-weight: 700;
}

p {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}


@media screen and (max-width: 768px) {
  p {
    font-size: 16px;
  }
}